$header-colour: #9f7e69;
$main-background-color: #f2f4f3;
$form-background-color: #698a9f;
$underline-colour: #adacb5;
$dates-colour: #3c3c3b;

// Button
$add-button-colour: #00cc99;
$red-button-colour: #dd1155;

@mixin input-style {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
