@import "./variables";

.cv-container {
  position: sticky;
  top: 0;
  width: 700px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 1000px;

  .cv-header {
    padding: 20px;
    background-color: $cv-header-colour;
    color: white;

    h2 {
      font-size: 2rem;
    }
  }

  .cv-education {
    padding: 20px;

    h2 {
      margin-bottom: -30px;
    }

    .cv-education-content-container {
      display: flex;
      justify-content: space-between;
      // margin-top: -20px;
    }

    .school-name-text {
      font-size: 1.3rem;
    }

    .title-study-text {
      color: $secondary-font-colour;
      margin-top: -17px;
    }
  }

  .cv-work {
    padding: 20px;

    h2 {
      margin-bottom: -30px;
    }

    .cv-work-content-container {
      display: flex;
      justify-content: space-between;
    }

    .company-name-text {
      font-size: 1.3rem;
    }

    .position-title-text {
      color: $secondary-font-colour;
      margin-top: -17px;
    }

    .job-desc-text {
      width: 400px;
      overflow-wrap: normal;
    }
  }
}
