@import "./variables";

.education-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  input {
    @include input-style;
  }

  button {
    @include green-btn;
  }
  button:hover {
    background-color: $green-btn-hover-colour;
  }

  label {
    color: white;
  }

  .study-dates-container {
    @include dates-container;
  }
}

.education-add-btn {
  margin-bottom: 40px;
}
