@import "./variables";

.personal-information {
  display: flex;
  flex-direction: column;
  gap: 10px;

  input {
    @include input-style;
  }

  button {
    @include greenBtn;
  }
  button:hover {
    background-color: $green-btn-hover-colour;
  }
}
