@import "./variables";

.work-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  input {
    @include input-style;
  }

  button {
    @include green-btn;
  }

  label {
    color: white;
    font-size: 1.1rem;
  }

  .work-dates-container {
    @include dates-container;
  }
}
